.content__title--wide {
  display: flex;
  width: 100vw;
  min-width: 1200px;
  height: 150px;
  background-color: #3747b8;
  padding: 0 0 0 200px;
  color: #fff;
  align-items: center;
}

.content__title--wide .content__title {
  margin: 0;
}

.content__top {
  width: 800px;
  margin: 60px auto 0 auto;
  font-size: 1.4rem;
}