
.content__item--s {
  padding: 35px 40px;
  width: 560px;
  margin-right: 0px;
}


.image__ceo {
  height: 230px;
  margin-bottom: 80px;
}

.content__ir {
  background-image: url("/common/images/background.png");
  background-repeat: no-repeat;
  background-position: top 220px left 140px;
  color: #fff;
  position: relative;
  left: 0;
  width: 1200px;
  height: min-content;
  padding: 56px 0 62px 0;
  margin: 50px auto 0 auto;
  position: relative;
  color: #fff;
}

.content {
  width: 1200px;
  height: min-content;
  padding: 60px 0 62px 0;
  margin: 60px auto 0 auto;
  position: relative;
  color: #fff;
}

.content__stock-prices--title {
  padding: 52px 0 0 200px;
}

.content__librarys--title {
  padding: 60px 0 0 200px;
}


.translate {
  font-size: 0.7rem;
  color: #8b8b8b;
  margin: 10px 0;
}

.content__text {
  line-height: 1.8rem;
}

.content__ir .content__item--title {
  margin-bottom: 10px;
}


.content__stock-prices {
  position: relative;
  padding: 52px 0 60px 0;
}

.content__library {
  position: relative;
  padding: 60px 0;
}

.font--l {
  font-size: 2rem;
  font-weight: bold;
  color: #404040;
}

.content__stock-prices .content__item {
  text-align: right;
  font-size: 0.8rem;
  padding: 38px 40px 30px 40px;
}

.content__stock-prices .flex__container {
  justify-content: space-between;
}


.font--m {
  font-size: 1rem;
  font-weight: bold;
  color: #404040;
}

.content__library .content__item {
  padding: 48px 40px 45px 40px;
}

.content__ir .content__item {
  padding: 34px 40px;
}



.content__ir .content__table {
  padding-top: 56px;
}


.content__ir--title {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 200px;
}
.content__ir .content__table {
  margin-top: -110px;
}

.content__stock-prices--title, .content__library--title{
  position: absolute;
  top: 0;
  padding: 60px 0 0 195px;
}

.content__title--wide {
  position: absolute;
  left: 0;
  width: 100vw;
  min-width: 1200px;
  height: 150px;
  margin: 0 auto;
  z-index: -1;
  background-color: #3747b8;
  color: #fff;
}

.content__table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 160px;
  gap: 20px;
}