#scroll:hover {
  cursor: pointer;
  color: #3747b8;
}

.logo--s {
  height: 20px;
}

.logo--footer {
  width: 160px;
}
.content__item {
  background-color: #fff;
  box-shadow: 0 0 5px #3131313b;   
  justify-content: space-between;
  align-items: center;
  color: #3d3d3d;
}

.content__title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
}

.content__sub-title {
  font-size: 1.2rem;
  margin-bottom: 34px;
}

.content__item--title {
  font-weight: bold;
  font-size: 1.4rem;
}

.flex__container {
  display: flex;
  align-items: center;
}

.link--white {
  color: #fff;
}

.link--white:hover {
  color: #cfcfcf;
}

.link--blue {
  color: #3747b8;
}

.link--blue:hover {
  color: #7d88de;
}

.font--s {
  font-size: 0.8rem;
}

.font--blue {
  color: #3747b8;
}

.font--white {
  color: #fff;
}


.image__decoration {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.decoration__blue--first {
  height: 10px;
  width: 10px;
  background-color: #3747b8;
}

.decoration__blue {
  height: 10px;
  width: 10px;
  background-color: #b6bfff;
}
