.content__title--wide {
  display: flex;
  width: 1200px;
  height: 150px;
  background-color: #3747b8;
  padding: 0 0 0 200px;
  color: #fff;
  align-items: center;
}

.content__title--wide .content__title {
  margin: 0;
}

.content {
  width: 800px;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.content__article {
  width: 480px;
  margin-top: -8px;
  font-size: 1.1rem;
}

.content .content__title {
  padding-bottom: 10px;
  line-height: 2.9rem;
}

.content__article img {
  width: 480px;
  padding: 13px 0 20px 0;
}



.content__article--text {
  line-height: 1.4rem;
}

.font--gray {
  color: #a3a3a3;
  font-size: 0.8rem;
}

.content__archive--table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__item {
  width: 300px;
  padding: 11px 40px;
}
