.content__library--title {
  color: #ffffff;
  position: absolute;
  top: -15px;
  left: 200px;
}


.content__library {
  background-image: url("/common/images/background.png");
  background-repeat: no-repeat;
  background-position: top 223px left 133px;
  color: #fff;
  position: relative;
  left: 0;
  width: 1200px;
  height: min-content;
  padding: 56px 0 0 0;
  margin: 50px auto 0 auto;
  position: relative;
  color: #fff;
}

.content__item--s {
  padding: 35px 40px;
  width: 560px;
  margin-right: 0px;
  line-height: 2rem;
}

.content__table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin: -50px 165px 0 0;
}

.content__item {
  padding: 34px 40px;
}

.content__item--title {
  margin-bottom: 7px;
}

.content__title--wide {
  position: absolute;
  left: 0;
  width: 100vw;
  min-width: 1200px;
  height: 150px;
  margin: 0 auto;
  z-index: -1;
  background-color: #3747b8;
  color: #fff;
}